<div id="sideNavBarContainer">

    <nav class="sideNavBar">
        <a href="/dashboard" class="logo">
            <img src="/images/icons/mog.png">
        </a>

        <div class="group">

            <div class="sideNavItem">
                <a href="/search" class="sideNavItemLink">Search
                <img src="/images/icons/search.png" class="icon" alt="Search">
                </a>
            </div>

        </div>

        <div class="group">
            
            <div class="sideNavItem">
                <a href="/users/logout" class="sideNavItemLink">Logout</a>
            </div>
            

           
        </div>

    </nav>

</div>